<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
<!-- the session Factory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    	<property name="configLocation" value="classpath:hibernate.cfg.xml" />
  </bean>
    
    
<!-- the data source -->
<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/onlineKada"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
 </bean>
 -->
<!-- Application specific beans -->
  
 <bean id="userLoginBo" class="com.onlinekada.bo.impl.UserLoginBoImpl">
 	<property name="userDaoImpl" ref="userDaoImpl"/>
 </bean> 

<bean id="userDaoImpl" class="com.onlinekada.dao.impl.UserDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>

<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
</bean>

<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>