@CHARSET "UTF-8";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   overflow-x: hidden;
}
#content {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#menu{
   background:#0af;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   padding-left:10px;
   padding-top:10px;
   height:20px;   /* Height of the footer */
   background:#6cf;
}